@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.v-appear-enter-active,
.v-appear-leave-active {
  transition: opacity 0.2s ease;
}

.v-appear-enter-from,
.v-appear-leave-to {
  opacity: 0;
}

@keyframes zoomInCustom {
  0% {
    transform: scale3d(0.3, 0.3, 0.3);
  }
  60% {
    transform: scale3d(2, 2, 2);
  }
}
.animate__zoomInCustom {
  -webkit-animation-name: zoomInCustom;
  animation-name: zoomInCustom;
}

.slide-left-appear-transition {
  transform: translate3d(-200px, 0, 0);
  opacity: 0;
  transition: all 0.5s;
  &.active {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.slide-right-appear-transition {
  transform: translate3d(200px, 0, 0);
  opacity: 0;
  transition: all 0.5s;
  &.active {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}
