*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: $font;
  line-height: 1.5;
  background-color: black;
  color: #ffffff;
}

button {
  font-family: $font;
}

.h1 {
  font-size: 72px;
  line-height: 84px;
}

.h2 {
  font-size: 56px;
  line-height: 65px;
}

.h3 {
  font-size: 42px;
  line-height: 49px;
}

.h4 {
  font-size: 36px;
  line-height: 42px;
}

.h5 {
  font-size: 30px;
  line-height: 35px;
}

.h6 {
  font-size: 24px;
  line-height: 28px;
}
