$font: 'proxima-nova', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
  Cantarell, Noto Sans, sans-serif, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$colors: (
  primary: #b82a06,
  secondary: #3c0c00,
  light-gray: #dcdcdc,
  light: #ffffff,
  dark: #000000,
  primary-light: #ffb3a4,
  diamond: #ffc612,
);
