$font: 'proxima-nova', system-ui, -apple-system, Segoe UI, Roboto, Ubuntu,
  Cantarell, Noto Sans, sans-serif, 'Segoe UI', Roboto, 'Helvetica Neue', Arial,
  'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$colors: (
  primary: #26c6d0,
  secondary: #ffbc58,
  third: #ee6c8a,
  primary-dark-01: #585880,
  light: #ffffff,
  dark: #262626,
);

@function theme($name) {
  @return map-get($map: $colors, $key: $name);
}

$body-bg-color: theme(light);
$body-font-color: theme(dark);

$border-radius: 30px;
